header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: brown;
    border-radius: 20px;
    padding: 30px;

    position: sticky;
    top: 0;

    z-index: 100;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

#my-projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    flex: 1 1 250px;
}