body {
    padding: 20px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#featured {
    grid-column: span 3;

    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    text-align: center;
}

.cards {
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    text-align: center;
}