header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

nav {
    display:flex;
    gap:20px;
}

#courses {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}